name: DesigniteJava code quality

on:
    push:
        branches: [ master ]
    pull_request:
        branches: [ master ]

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: DesigniteJava_action
              uses: DesigniteTools/DJAction@v2.0.0
              with:
                    PAT: ${{ secrets.PAT }}
